@model TrabajoFinalMulti.Models.Estudiante
@{
    ViewData["Title"] = "Apoderado del estudiante";
    Layout = "~/Views/Shared/_Diseño.cshtml";
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Registrar
        </h2>
        <!-- CTA -
        <!-- General elements -->
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            Apoderado
        </h4>

        <form method="post" asp-action="RegistrarApoderado" id="registro-form" enctype="multipart/form-data">
            <input type="hidden" asp-for="Estudiante_Id" />
            <input type="hidden" asp-for="Apoderado.Apoderado_Id" />

            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="Estudiante_Nombre" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Nombre del estudiante</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Estudiante_Nombre" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Nombre del estudiante"
                               type="text"
                               id="Nombre"
                               name="Estudiante_Nombre" disabled />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>
                    </div>
                </label>

                <label asp-for="Apoderado.Apoderado_Nombre" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Nombre del apoderado</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Apoderado.Apoderado_Nombre" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Nombre del apoderado"
                               type="text"
                               name="Apoderado.Apoderado_Nombre" 
                               required 
                               disabled="@(Model.Apoderado != null && !string.IsNullOrEmpty(Model.Apoderado.Apoderado_Nombre))" />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>
                    </div>
                </label>

                <label asp-for="Apoderado.Apoderado_Parentesco" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Parentesco del apoderado</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <div class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input">
                            <select asp-for="Apoderado.Apoderado_Parentesco" asp-items="@(new SelectList(new List<string> { "Padre", "Madre", "Abuelo", "Abuela", "Tío", "Tía", "Hermano", "Hermana", "Otros" }))" class="form-control" required disabled="@(Model.Apoderado != null && !string.IsNullOrEmpty(Model.Apoderado.Apoderado_Parentesco))">
                                <option value="">Selecciona un parentesco</option>
                            </select>
                        </div>
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>
                    </div>
                </label>

                <label asp-for="Apoderado.Apoderado_DNI" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">DNI del apoderado</span>
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Apoderado.Apoderado_DNI" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="DNI del apoderado"
                               type="tel"
                               name="Apoderado.Apoderado_DNI"
                               pattern="[0-9]{8}" title="Ingrese un DNI válido de 8 dígitos"
                                required
                               disabled="@(Model.Apoderado != null && !string.IsNullOrEmpty(Model.Apoderado.Apoderado_DNI))" />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                            </svg>
                        </div>
                    </div>
                </label>

                <label asp-for="Apoderado.Apoderado_Celular" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Celular del apoderado</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Apoderado.Apoderado_Celular" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Celular del apoderado"
                               type="tel"
                               name="Apoderado.Apoderado_Celular"
                               pattern="[0-9]{9}" title="Debe contener exactamente 9 dígitos numéricos" 
                               required 
                               disabled="@(Model.Apoderado != null && !string.IsNullOrEmpty(Model.Apoderado.Apoderado_Celular))" />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                            </svg>
                        </div>
                    </div>
                </label>

                <label asp-for="Apoderado.Apoderado_Correo" class="block  text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Correo del apoderado</span>
                    <!-- focus-within sets the color for the icon when input is focused -->
                    <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                        <input asp-for="Apoderado.Apoderado_Correo" class="block w-full pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                               placeholder="Correo del apoderado"
                               type="email"
                               name="Apoderado.Apoderado_Correo"
                               required
                               disabled="@(Model.Apoderado != null && !string.IsNullOrEmpty(Model.Apoderado.Apoderado_Correo))" />
                        <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </div>
                    </div>
                </label>

                <div class="mt-4 flex flex-col flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
                    @if (Model.Apoderado == null)
                    {
                        <button type="submit" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Registrar apoderado
                        </button>
                    }
                    else
                    {
                        if (string.IsNullOrEmpty(Model.Apoderado.Apoderado_Nombre) ||
                        string.IsNullOrEmpty(Model.Apoderado.Apoderado_Parentesco) ||
                        string.IsNullOrEmpty(Model.Apoderado.Apoderado_DNI) ||
                        string.IsNullOrEmpty(Model.Apoderado.Apoderado_Celular) ||
                        string.IsNullOrEmpty(Model.Apoderado.Apoderado_Correo))
                        {
                            <button type="submit" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                Registrar apoderado
                            </button>
                        }
                        else
                        {
                            <a asp-controller="Administrador" asp-action="EditarApoderado" asp-route-id="@Model.Apoderado.Apoderado_Id" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Editar datos</a>
                            <a asp-controller="Administrador" asp-action="EliminarApoderado" asp-route-id="@Model.Apoderado.Apoderado_Id" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-purple">Borrar datos</a>
                        }
                    }

                    <a asp-controller="Administrador" asp-action="ListaEstudiantes" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</main>