@model Curso
@{
    ViewData["Title"] = "DetalleCurso";
    Layout = "~/Views/Shared/_DiseñoEstudiante.cshtml";
}


<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Detalle Curso
        </h2>
        <!-- CTA -
            <!-- General elements -->
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            @Model.Curso_Nombre
        </h4>
        <div class="mt-4 flex justify-between flex-row flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
            <div>
                <a asp-controller="Estudiante" asp-action="Index" class="px-4 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Regresar</a>
            </div>
        </div>
        <br />
        <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <label asp-for="Curso_Nombre" class="block  text-sm">
                <span class="text-gray-700 dark:text-gray-400">ID del Curso</span>
                <!-- focus-within sets the color for the icon when input is focused -->
                <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                    <div class="relative text-gray-500 dark:text-gray-300">
                        <span>@Model.Curso_Id</span>
                    </div>
                </div>
            </label>

            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">Nombre</span>
                <div class="relative text-gray-500 dark:text-gray-300">
                    <span>@Model.Curso_Nombre</span>
                </div>
            </label>

            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">Cantidad de horas</span>
                <div class="relative text-gray-500 dark:text-gray-300">
                    <span>@Model.Cantidad_Horas</span>
                    <!-- Aquí puedes mostrar asteriscos u otro indicador de que es una contraseña -->
                </div>
            </label>
        </div>
        <div class="flex mt-4">
            <a class="px-4 py-2 mr-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
               aria-label="Asistencias" asp-action="ListaEvaluaciones" asp-route-id="@Model.Curso_Id">
                Evaluaciones
            </a>

            <a class="px-4 py-2 mr-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
               aria-label="Asistencias" asp-action="SolicitarAsesoria"
               asp-route-id="@Model.Curso_Id">
                Asesoria y Talleres
            </a>
            <a class="px-4 py-2 mr-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
               aria-label="Asistencias" asp-action="VerAsistencia"
               asp-route-id="@Model.Curso_Id">
                Ver Asistencias
            </a>
        </div>
    </div>
</main>
